@import "./variables.scss";
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2em;
}
.nav > h1{
    cursor: pointer;
}
.links{
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
link > button {
    width: 100%;
}
.links > *{
    text-decoration: none;
}