$vanilla : #F2F3AE;
$flax : #EDD382;
$sandy-brown : #FC9E4F;
// $primary : #7F5039;
$primary : #1976d2;
$oxford-blue : #020122;
$white : #fff;
$black : #000;


:export {
    vanilla : $vanilla;
    flax : $flax;
    sandyBrown : $sandy-brown;
    primary : $primary;
    oxfordBlue : $oxford-blue;
    black: $black;
    white: $white;
}